/******* accountnames selection box **********/
/*#orderlunchfor{float:right;color:#FFEE00;text-align:center;font-size: 12px;line-height: 12px;margin: 7px 10px 0 0;}
#accountnames{width:300px;float:right;}*/
/******************************/

/**** scheduling ****/
#schedheader{
	background-color:#000;
	height: 53px;
	padding: 7px 12px 7px 7px;
	border-radius: 10px 10px 0 0;
	text-align:center;
    position: relative;
}
.schednav{
    position: absolute;
    left: 305px;
    text-align:center;
	width: 340px;
}
#schedulelunchestext{
    position: absolute;
    top: 17px;
    left:10px;
    color:#ffff00;
    font-size: 20px;
    font-variant: small-caps;
}
.schednavbtn {
	background: url("../img/nav-small.png") no-repeat scroll 0 0 transparent;
    width:36px;
    height:36px;
    cursor: pointer;
    display:inline-block;
}
.schednavbtn.prev{background-position: 0 0;float:left;}
.schednavbtn.next{background-position: 0 -36px;float:right;}
.schednavbtn.prev:hover{background-position: 0 -73px;}
.schednavbtn.next:hover{background-position: 0 -109px;}

#monthdesc {
    color:#5790eb;
    font-size: 30px;
    font-weight:bold;
    font-variant:small-caps;
    display: inline-block;
    width: 250px;
    margin-top: 8px;
}

#schedheader #loadinggif{margin: 4px 0 0 5px;}
#schedheader #loadingtext{font-style:italic;}

#schedgallery {
	overflow: hidden;
    position: relative;
    width: 960px;
}
#schedslider {
    position: absolute;
    width: 1920px;
}
.schedslide {
    float: left;
    position: relative;
    width: 960px;
}

#scheduletable th {
	background-color: #427CD8;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#93CAFF), to(#003DB8));
    background-image: -webkit-linear-gradient(top, #93CAFF, 0%, #003DB8, 100%);
    background-image: -moz-linear-gradient(top, #93CAFF 0%, #003DB8 100%);
    background-image: linear-gradient(to bottom, #93CAFF 0%, #003DB8 100%);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border: 1px solid #777777;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px #222222;
    font-variant:small-caps;
    font-size: 14px;    
    width:300px;
    text-align:center;
    font-family:auto;
}

#scheduletable {background-color:#fafafa;margin-bottom:0px;}
#scheduletable td{vertical-align:top;color:#999;font-size: 14px;line-height:15px;text-align:center;}
#scheduletable td.enabled{background-color:#fff;color:#000000;}
#scheduletable td.enabled div:first-child{color:#3366ff;font-size: 14px;}
#scheduletable td div {text-align:center;}
#scheduletable td div.spacer {height:66px;vertical-align:middle;}
#scheduletable td div:first-child{text-align:right;font-size: 11px;font-weight:bold;font-family:auto;}
#scheduletable th:first-child,#scheduletable th:last-child{width: 30px;}
#scheduletable.table tbody td.tdbkg{background-color: #eff3f9;cursor: pointer;}
#scheduletable.table-condensed tbody > tr > td {padding: 5px 10px 25px;}
#scheduletable .provimg {margin-bottom: 15px;}
#scheduletable .provimg.disabled{opacity:0.55;}
#scheduletable .enabled .addltxt {color:#000000;margin:5px 0;}
#scheduletable .enabled .extcare {color:#000000;margin:5px 0;}
#scheduletable .enabled .nleorange {margin-top:5px;}
#scheduletable .enabled .nleorange a {color: #FF6600;}
#scheduletable .enabled .nle a {color:#ff0000;line-height: 16px;}
#scheduletable .ordercount {margin-top: 5px;}
#scheduletable .enabled .ordercount {color:#008800;margin: 20px 0 0;}
#scheduletable .provimg {margin-top: 10px;}
/*#scheduletable .enabled .provimg:hover {cursor: pointer;}*/
#scheduletable .addtext {margin: 40px 0 26px;color:#fff;}
#scheduletable .addtext:hover {text-decoration:underline;color:#008800;}

#modalSchedLunch #selectprovider {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #8ABAF2, #0B61D5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #333333;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    padding: 6px 0 8px;
    text-shadow: 1px 1px #555555;
}
#modalSchedLunch #scheddate{font-weight:normal;text-align:center;font-variant:normal;margin: 8px 0;font-size: 15px;color:#990000;}
#modalSchedLunch textarea{color:#999;}

#modalSchedLunch textarea {resize: none;}
#modalSchedLunch .modal-body label,#modalSchedLunch .modal-body .form-control {font-size: 14px;margin-bottom: 2px;}
#modalSchedLunch .modal-body {padding: 15px 20px;}
/*#modalSchedLunch label {font-variant:small-caps;}*/
#modalSchedLunch .modal-dialog {width: 410px;}
#modalSchedNLE #nledate{font-weight:normal;text-align:center;font-variant:normal;margin: 8px 0;font-size: 14px;color:#F88017;}
#modalSchedNLE .modal-body label,#modalSchedLunch .modal-body .form-control {font-size: 14px;margin-bottom: 2px;}
#modalSchedNLE .modal-body {padding: 25px 20px;}
/*#modalSchedNLE label {font-variant:small-caps;}*/
#modalSchedNLE .modal-footer {padding: 10px 15px;} 
#modalSchedNLE #selectnle {
    background-color: #ffa500;
    background-image: linear-gradient(to bottom, #FBB117, #F88017);
    background-repeat: repeat-x;
    border-bottom: 1px solid #999999;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    padding: 6px 0 8px;
    font-weight:bold;
}
#modalSchedNLE .modal-dialog {
    width: 450px;
}

/******* paymentaccountnames selection box **********/
#modalDeletePayment .modal-header{
	background-color: #cc0000;
    background-image: linear-gradient(to bottom, #D9534F, #C12E2A);
    background-repeat: repeat-x;
    border-bottom: 1px solid #333333;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    padding: 6px;
    text-shadow: 1px 1px #555555;
}
#modalDeletePayment .modal-title{color:#fff;font-size:14px;}
/*#modalDeletePayment .modal-dialog {padding-top: 215px;}*/
#modalDeletePayment .modal-body {padding: 20px;}

#modalAddEditPayment .modal-header{
    background-repeat: repeat-x;
    border-bottom: 1px solid #333333;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    padding: 6px;
    text-shadow: 1px 1px #555555;
}
#modalAddEditPayment .modal-header.success{
	background-color: #009900;	
    background-image: linear-gradient(to bottom, #5CB85C, #419641);
}
#modalAddEditPayment .modal-header.primary{
	background-color: #2B669A;	
    background-image: linear-gradient(to bottom, #428BCA 0px, #2D6CA2 100%);
}
    
#modalAddEditPayment .modal-title{color:#fff;font-size:14px;}
#modalAddEditPayment .modal-dialog {/*padding-top:135px;*/width: 350px;}
#modalAddEditPayment .modal-body {padding: 30px;}
#modalAddEditPayment #payAmt{text-align:right;width: 100px;}
#modalAddEditPayment #payDate{width: 160px;}
/*#modalAddEditPayment #accountname{width:275px;}*/

#tblPayments{background: #fff;box-shadow: 0 1px 2px #999;margin-bottom:10px;}
#tblPayments th:first-child{width: 90px;}
#tblPayments th:last-child{width: 65px;}
#tblPayments td {text-align:center;}
#tblPayments td:first-child {text-align:left;}

#tblPayments .glyphicon {color:#fff;font-size: 10px;}
#tblPayments  .glyphicon-plus{font-size:14px;}
#paymentscurbal {font-size: 15px;margin-right:10px;}
#paymentscurbalval {font-size: 17px;margin-right:10px;}
.redtext{color:#cc0000;}
.greentext{color:#008800;}
.bluetext{color:#336699;}
/******************************/
.admreport .btn-print{position:absolute;right:15px;top: 75px;}

#admreportdata{min-height: 300px;}
.printtoscreen h1,.printtoscreen h2,.printtoscreen h3,.printtoscreen h4,.printtoscreen h5,.printtoscreen h6{color:#000;}

/*** lunch orders ***/
#lunchordersselectdate{margin-left: 26px;}
#lunchorderstable {background-color:#fff;font-size: 14px;margin: 10px 0 0px;box-shadow: 0 1px 2px #ccc;}
#lunchorderstable th:last-child{width: 90px;}
#lunchorderstable td:last-child{text-align:center;}
#btnDoAction{margin-left: 15px;font-size:16px;}

/** account maint **/
/*#btnAccountDelete,#btnUserDelete{float:left;}*/
	
#tblAcctMaint tr#SELECTED td {background-color:#FFFFCC !important;}	
#tblAcctMaint {background-color:#fff;text-align:center;box-shadow: 0 2px 3px #CCCCCC;}
#tblAcctMaint th{text-align:center;}
#tblAcctMaint th:last-child{min-width: 200px;}
#tblAcctMaint a {color:#3366cc;}

#tblAcctMaint td:last-child a[href='#ADD']{color:#3E8F3E;}
#tblAcctMaint button{float:right;}
#modalAccount .modal-body{padding: 15px 20px 20px;}
#modalAccount input[type='text'],#modalAccount input[type='email'],#modalUser input[type='text'],#modalUser input[type='email'] {width: 285px;}

#modalUser .modal-body{padding: 15px 20px 25px;}

#modalAccount #title,#modalUser #title  {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #8ABAF2, #0B61D5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #333333;
    border-radius: 6px 6px 0 0;
    color: #FFFFFF;
    padding: 6px 0 8px;
    text-shadow: 1px 1px #555555;
}
#modalAccount #title.add,#modalUser #title.add  {
    background-color: #3E8F3E;
    background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
}